h1 {
  text-align: center;
  padding-top: 50px;
}

small {
  padding-top: 20px;
  text-align: center;
  font-style: italic;
}

.profile-cards {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .profile-card {
    width: 50%;
    height: 400px;
    margin: 5%;
    position: relative;
    cursor: pointer;

    &:hover {
      box-shadow: -1px 10px 29px 0px rgba(0, 0, 0, 0.8);
    }

    &:after {
      position: absolute;
      content: '';
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      background: #3f51b5;
      opacity: 0.9;
      border-radius: 4px;
    }

    &.private {
      background: url('/assets/img/private-card.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }

    &.business {
      background: url('/assets/img/business-card.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }

    .card-header {
      position: relative;
      display: flex;
      justify-content: center;
      z-index: 3;
      color: #fff;

      .card-title {
        font-size: 2em;
        letter-spacing: 0.2em;
        margin-right: -0.2em;
      }
    }
  }
}
