<div class="container-column">
  <h1>SELECT YOUR PROFILE TYPE</h1>
  <small>Don't worry, you can always change it later</small>
  <div class="profile-cards">
    <mat-card class="profile-card private" (click)="routeToPrivateForm()">
      <mat-card-header class="card-header">
        <mat-card-title class="card-title">PERSONAL</mat-card-title>
      </mat-card-header>
      <mat-card-content> </mat-card-content>
      <mat-card-actions> </mat-card-actions>
    </mat-card>

    <mat-card class="profile-card business" (click)="routeToBusinessForm()">
      <mat-card-header class="card-header">
        <mat-card-title class="card-title">BUSINESS</mat-card-title>
      </mat-card-header>
      <mat-card-content> </mat-card-content>
      <mat-card-actions> </mat-card-actions>
    </mat-card>
  </div>
</div>
